In [4]:
import pandas as pd
array = [2, 4, 6, 8, 10, 12]
series_obj = pd.Series(array)
arr = series_obj.values
arr

array([ 2,  4,  6,  8, 10, 12], dtype=int64)

In [8]:
reshaped_arr = arr.reshape((2, 3))
reshaped_arr

array([[ 2,  4,  6],
       [ 8, 10, 12]], dtype=int64)

In [11]:
array = ["ankit", "Shaurya", "Shivangi", "Jeet", "Priya", "Ananya"]
series_obj = pd.Series(array)
print("Given Series: \n", series_obj)
arr = series_obj.values
arr

Given Series:
 0       ankit
1     Shaurya
2    Shivangi
3        Jeet
4       Priya
5      Ananya
dtype: object

array(['ankit', 'Shaurya', 'Shivangi', 'Jeet', 'Priya', 'Ananya'],
      dtype=object)

In [13]:
reshaped_arr = arr.reshape((3,2))
print("After Reshaping: \n", reshaped_arr)

After Reshaping:
 [['ankit' 'Shaurya']
 ['Shivangi' 'Jeet']
 ['Priya' 'Ananya']]

In [18]:
df = pd.DataFrame({'A': ['John', 'Boby', 'Mina'],
'B': ['Masters', 'Graduate', 'Graduate'],
'C': [27, 23, 21]})
df

      A         B   C
0  John   Masters  27
1  Boby  Graduate  23
2  Mina  Graduate  21

In [19]:
df.pivot('A', 'B', 'C')

<ipython-input-19-d3da59eff764>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  df.pivot('A', 'B', 'C')

B     Graduate  Masters
A
Boby      23.0      NaN
John       NaN     27.0
Mina      21.0      NaN

In [21]:
df.pivot(index ='A', columns='B', values=['C', 'A'])

            C                A
B    Graduate Masters Graduate Masters
A
Boby       23     NaN     Boby     NaN
John      NaN      27      NaN    John
Mina       21     NaN     Mina     NaN

In [23]:
df = pd.DataFrame({'Name': ['Jhon', 'Sammy', 'Stephan', 'joe', 'Emily', 'Tom'],
                   'Gender': ['Male', 'Female', 'Male', 'Female', 'Female', 'Male'],
                   'Age': [45, 6, 4, 36, 12, 43]})
print("Dataset")
print(df)
print("-"*40)
def age_bucket(age):
    if age <= 18:
        return "<18"
    else:
        return ">18"

df['Age Group'] = df['Age'].apply(age_bucket)
gender = pd.DataFrame(df.Gender.value_counts(normalize= True)*100).reset_index()
gender.columns = ['Gender', '%Gender']
df = pd.merge(left=df, right=gender, how='inner', on=['Gender'])
table = pd.pivot_table(df, index=['Gender', '%Gender', 'Age Group'],
                       values=['Name'], aggfunc={'Name': 'count',})
print("Table")
print(table)

Dataset
      Name  Gender  Age
0     Jhon    Male   45
1    Sammy  Female    6
2  Stephan    Male    4
3      joe  Female   36
4    Emily  Female   12
5      Tom    Male   43
----------------------------------------
Table
                          Name
Gender %Gender Age Group
Female 50.0    <18           2
               >18           1
Male   50.0    <18           1
               >18           2